body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.h1 {
    font-size: 100px;
}

section {
    display: flex;
    padding-bottom: 5%;
}

.half-width {
    width: 100%;
    padding-left: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: centre centre;
    top: 100px;
    height: 100vh;
    position: center;
    color: rgb(247, 241, 241);
}

.top-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .7;
    z-index: -1;
}

.top-banner h2 {
    padding-top: 8%;
    font-size: 80px;
    color: #fff;
}

.Donate {
    font-size: large;
    color: rgb(117, 158, 224);
}

.plan {
    font-size: large;
    color: rgb(83, 213, 242);
}

.container {
    width: 100%;
    height: auto;
    background: #0077bbf;
    display: flex;
}

.box {
    width: 20%;
    height: 150px;
    background: yellow;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

.box2 {
    width: 20%;
    height: 150px;
    background: red;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

.new {
    width: 100%;
    padding-left: 5%;
}

.new2 {
    width: 100%;
    padding-left: 5%;
}

.container new {
    width: 100%;
    height: auto;
    background: #0077bbf;
    display: flex;
}


.boxp {
    width: 20%;
    height: 300px;
    background: rgb(210, 118, 84);
    margin: 20px;
    box-sizing: border-box;
    font-size: 35px;
    font-display: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.food {
    font-size: small;
    color: rgb(60, 193, 193);
}

.boxq {
    width: 20%;
    height: 300px;
    background: rgb(200, 159, 159);
    margin: 20px;
    box-sizing: border-box;
    font-size: 35px;
    font-display: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.shelter {
    font-size: small;
    color: rgb(47, 104, 145);
}

.boxr {
    width: 20%;
    height: 300px;
    background: rgb(220, 169, 220);
    margin: 20px;
    box-sizing: border-box;
    font-size: 35px;
    font-display: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.Education {
    font-size: small;
    color: rgb(209, 240, 34);
}


.footer-content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(220, 130, 130);
}